In [1]:
import numpy
import sklearn
import matplotlib
import pandas as pd
%matplotlib inline
matplotlib.rcParams["figure.figsize"]=(20,10)

In [2]:
df=pd.read_csv("Bengaluru_House_Data.csv")

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [5]:
df.shape

(13320, 9)

In [6]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [7]:
df['bath'].head()

0    2.0
1    5.0
2    2.0
3    3.0
4    2.0
Name: bath, dtype: float64

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
type(df['bath'])

pandas.core.series.Series

In [10]:
#dropping some unimportant columns
df=df.drop(['area_type','society','availability','balcony'],axis='columns')

In [11]:
df.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [12]:
#data cleaning
#checking if any value is null or not
df.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [13]:
#dropping that row which is null
df=df.dropna()#this function is use to drop those rows which is null

In [14]:
df.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [15]:
#Checking all unique value of size column
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [16]:
df['bhk']=df['size'].apply(lambda x: int(x.split(' ')[0]))#lambda function is a anonymous function(nameless function) which has only expression

In [17]:
df.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [18]:
df['bhk'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [19]:
#printing some fixed values rows.It is like querry in mysql
df[df.bhk>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [20]:
df.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [21]:
#we can observe that there is a range of values.
#so we have to overcome this problem
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [22]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [23]:
df[~df['total_sqft'].apply(is_float)].head(10)

               location       size      total_sqft  bath    price  bhk
30            Yelahanka      4 BHK     2100 - 2850   4.0  186.000    4
122              Hebbal      4 BHK     3067 - 8156   4.0  477.000    4
137  8th Phase JP Nagar      2 BHK     1042 - 1105   2.0   54.005    2
165            Sarjapur      2 BHK     1145 - 1340   2.0   43.490    2
188            KR Puram      2 BHK     1015 - 1540   2.0   56.800    2
410             Kengeri      1 BHK  34.46Sq. Meter   1.0   18.500    1
549         Hennur Road      2 BHK     1195 - 1440   2.0   63.770    2
648             Arekere  9 Bedroom       4125Perch   9.0  265.000    9
661           Yelahanka      2 BHK     1120 - 1145   2.0   48.130    2
672        Bettahalsoor  4 Bedroom     3090 - 5002   4.0  445.000    4

In [24]:
#converting range value into a single number
def sqft_to_num(x):
    a=x.split('-')
    if len(a)==2:
        return (float(a[0])+float(a[1]))/2
    try:
        return float(x)
    except:
        return None

In [25]:
df['total_sqft']=df['total_sqft'].apply(sqft_to_num)

In [26]:
df[df.price==265.000]

                 location       size  total_sqft  bath  price  bhk
648               Arekere  9 Bedroom         NaN   9.0  265.0    9
1097            Jalahalli      5 BHK      3100.0   4.0  265.0    5
2667          Basavangudi      3 BHK      2150.0   3.0  265.0    3
3785           Nagarbhavi  3 Bedroom      1200.0   3.0  265.0    3
4338          Frazer Town      3 BHK      2560.0   3.0  265.0    3
9053             Kothanur  4 Bedroom      3400.0   5.0  265.0    4
9570       Chikkalasandra  5 Bedroom      1500.0   5.0  265.0    5
9748        Hosakerehalli      3 BHK      2480.0   4.0  265.0    3
10002          Whitefield  4 Bedroom      3940.0   5.0  265.0    4
10871  Lakshmiamma Garden      3 BHK      3000.0   3.0  265.0    3
11328       Infantry Road      4 BHK      2170.0   3.0  265.0    4

In [27]:
df=df.dropna()

In [28]:
df[df.price==265.000]

                 location       size  total_sqft  bath  price  bhk
1097            Jalahalli      5 BHK      3100.0   4.0  265.0    5
2667          Basavangudi      3 BHK      2150.0   3.0  265.0    3
3785           Nagarbhavi  3 Bedroom      1200.0   3.0  265.0    3
4338          Frazer Town      3 BHK      2560.0   3.0  265.0    3
9053             Kothanur  4 Bedroom      3400.0   5.0  265.0    4
9570       Chikkalasandra  5 Bedroom      1500.0   5.0  265.0    5
9748        Hosakerehalli      3 BHK      2480.0   4.0  265.0    3
10002          Whitefield  4 Bedroom      3940.0   5.0  265.0    4
10871  Lakshmiamma Garden      3 BHK      3000.0   3.0  265.0    3
11328       Infantry Road      4 BHK      2170.0   3.0  265.0    4

In [29]:
df.loc[1097][2]# to get a unique row by row number

3100.0

In [30]:
df.loc[30][2]

2475.0

In [31]:
5+2/2

6.0

In [32]:
#feature engineering---This is a method of transforming raw data into a more valuable feature
df['price_per_sqft']=(df['price']*100000)/df['total_sqft']
df.head(5)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [33]:
len(df['location'].unique())
df.drop('size',axis='columns')
df.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [34]:
#detecting outliers using precentile(quantile)
min_threshold,max_threshold=df['price_per_sqft'].quantile([0.001,0.999])

In [35]:
max_threshold

50959.580419581405

In [36]:
df=df[(df.price_per_sqft<max_threshold) & (df.price_per_sqft>min_threshold)]

In [37]:
#As we know that machine learning can only work on numeric data.So now we will work on location column
df['location']=df['location'].apply(lambda x: x.strip())#strip() function will remove the whitespaces from begining and end froma a string.
location_stats= df.groupby('location')['location'].agg('count')
location_stats

location
1 Annasandrapalya                                  1
1 Giri Nagar                                       1
1 Immadihalli                                      1
1 Ramamurthy Nagar                                 1
12th cross srinivas nagar banshankari 3rd stage    1
                                                  ..
t.c palya                                          1
tc.palya                                           4
vinayakanagar                                      1
white field,kadugodi                               1
whitefiled                                         1
Name: location, Length: 1284, dtype: int64

In [38]:
len(location_stats)

1284

In [39]:
type(location_stats)

pandas.core.series.Series

In [40]:
max(location_stats)

532

In [41]:
location_stats.sort_values(ascending=False)

location
Whitefield            532
Sarjapur  Road        391
Electronic City       304
Kanakpura Road        264
Thanisandra           235
                     ...
Kuvempu Layout          1
Kumbhena Agrahara       1
Kudlu Village,          1
Konappana Agrahara      1
1 Annasandrapalya       1
Name: location, Length: 1284, dtype: int64

In [42]:
len(location_stats[location_stats<=10])

1045

In [43]:
location_stats_less_than_10=location_stats[location_stats<=10]
location_stats_less_than_10

location
1 Annasandrapalya                                  1
1 Giri Nagar                                       1
1 Immadihalli                                      1
1 Ramamurthy Nagar                                 1
12th cross srinivas nagar banshankari 3rd stage    1
                                                  ..
t.c palya                                          1
tc.palya                                           4
vinayakanagar                                      1
white field,kadugodi                               1
whitefiled                                         1
Name: location, Length: 1045, dtype: int64

In [44]:
df['location']=df['location'].apply(lambda x: 'other' if x in location_stats_less_than_10 else x )

In [45]:
df

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689.834926
13316,other,4 BHK,3600.0,5.0,400.00,4,11111.111111
13317,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258.545136
13318,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407.336319
13319,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090.909091

In [46]:
len(df.location.unique())

240

In [47]:
df.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [48]:
#our machine learning algorithm cannot work on string columns so we have to convert it into numeric column
#for this we have to do hot encoding.We use get_dummies method in pandas for this task.It will convert catagorical data into numeric data
dummies=pd.get_dummies(df.location)

In [49]:
dummies.head()

,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
dummies.drop('other',axis='columns')

,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
df=pd.concat([df,dummies],axis='columns')

In [52]:
df.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
df=df.drop(['price_per_sqft','size','location'],axis='columns')

In [54]:
#Now we have to create independent variables for our training datasets.For this we will remove the price column from our dataframe.
x=df.drop('price',axis='columns')

In [55]:
x.head()

,total_sqft,bath,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,1056.0,2.0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2600.0,5.0,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1521.0,3.0,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1200.0,2.0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
#now thsi is dependent variable
y=df.price

In [57]:
y.head()

0     39.07
1    120.00
2     62.00
3     95.00
4     51.00
Name: price, dtype: float64

In [58]:
#now we have to split our dataset for training and testing
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [59]:
X_train.shape

(10537, 243)

In [60]:
x.shape

(13172, 243)

In [61]:
X_test.shape

(2635, 243)

In [62]:
Y_train.shape

(10537,)

In [63]:
Y_test.shape

(2635,)

In [64]:
#Here we are using linear regression model to train our data
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression()

In [65]:
lr.score(X_test,Y_test)

0.609689198955681

In [66]:
#this is a regularized linear regression model which prevent data overfitting
from sklearn.linear_model import Ridge
ridge_reg=Ridge(alpha=0.1,solver='cholesky')
ridge_reg.fit(X_train,Y_train)

Ridge(alpha=0.1, solver='cholesky')

In [67]:
ridge_reg.score(X_test,Y_test)

0.6096248872836051

In [68]:
#normal linear regression model and regularized linear model both are not giving good accuracy.Lets try another regularized linear model.
#Now lets apply Lasso regression.This is same as ridge but it neglates unuseful features.
from sklearn.linear_model import Lasso
lasso_reg=Lasso(alpha=0.1)
lasso_reg.fit(X_train,Y_train)

Lasso(alpha=0.1)

In [69]:
lasso_reg.score(X_test,Y_test)

0.6000887916722321

In [70]:
#Lets try another regularized linear regression
#Elastic Net---It is mixture of ridge and lasso
from sklearn.linear_model import ElasticNet
elasticnet_reg=ElasticNet(alpha=0.1,l1_ratio=0.5)
elasticnet_reg.fit(X_train,Y_train)

ElasticNet(alpha=0.1)

In [71]:
elasticnet_reg.score(X_test,Y_test)

0.572196211349608

In [72]:
#using k fold cross validation
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv= ShuffleSplit(n_splits=5 ,test_size=0.2,random_state=0)
cross_val_score(LinearRegression(),x,y,cv=cv)

array([0.61881465, 0.56731379, 0.57975618, 0.59401   , 0.54254442])

In [73]:
cross_val_score(elasticnet_reg,x,y,cv=cv)

array([0.58949684, 0.55457363, 0.55291575, 0.57150595, 0.53149812])

In [74]:
cross_val_score(lasso_reg,x,y,cv=cv)

array([0.61187734, 0.56130876, 0.57040424, 0.5864564 , 0.54164553])

In [75]:
cross_val_score(ridge_reg,x,y,cv=cv)

array([0.61887164, 0.56740048, 0.57983688, 0.59407715, 0.54268404])

In [76]:
#now we are using decision tree
from sklearn.tree import DecisionTreeRegressor
decisiontree=DecisionTreeRegressor()
decisiontree.fit(X_train,Y_train)

DecisionTreeRegressor()

In [77]:
decisiontree.score(X_test,Y_test)

0.39069278997803025

In [78]:
cross_val_score(decisiontree,x,y,cv=cv)

array([0.62031021, 0.55069012, 0.39781319, 0.56734909, 0.34592387])

In [79]:
x.columns

Index(['total_sqft', 'bath', 'bhk', '1st Block Jayanagar',
       '1st Phase JP Nagar', '2nd Phase Judicial Layout',
       '2nd Stage Nagarbhavi', '5th Block Hbr Layout', '5th Phase JP Nagar',
       '6th Phase JP Nagar',
       ...
       'Vishveshwarya Layout', 'Vishwapriya Layout', 'Vittasandra',
       'Whitefield', 'Yelachenahalli', 'Yelahanka', 'Yelahanka New Town',
       'Yelenahalli', 'Yeshwanthpur', 'other'],
      dtype='object', length=243)

In [80]:
import numpy as np
np.where(x.columns=='total_sqft')[0][0]#it will give you the index value of the the column name given

0

In [81]:
#Now we have to provide inputs which is location,bhk,bath,sqft
def pred_price(location,sqft,bath,bhk):
    location_index=np.where(x.columns==location)[0][0]
    a=np.zeros(len(x.columns))
    a[0]=sqft
    a[1]=bath
    a[2]=bhk
    if location_index>=0:
        a[location_index]=1
    return lr.predict([a])[0] #the output is an 1d array having only 1 element so we need to print only 1st element of array.

In [82]:
x.loc[0]

total_sqft             1056.0
bath                      2.0
bhk                       2.0
1st Block Jayanagar       0.0
1st Phase JP Nagar        0.0
                        ...
Yelahanka                 0.0
Yelahanka New Town        0.0
Yelenahalli               0.0
Yeshwanthpur              0.0
other                     0.0
Name: 0, Length: 243, dtype: float64

In [83]:
pred_price('1st Block Jayanagar',1056,2,2)

97.93806022595612

In [84]:
df.loc[0]

total_sqft             1056.00
bath                      2.00
price                    39.07
bhk                       2.00
1st Block Jayanagar       0.00
                        ...
Yelahanka                 0.00
Yelahanka New Town        0.00
Yelenahalli               0.00
Yeshwanthpur              0.00
other                     0.00
Name: 0, Length: 244, dtype: float64

In [85]:
#exporting our model
import pickle
with open('home_price.pickle','wb') as f:
    pickle.dump(lr,f)

In [86]:
#Now to transport our data from web application to sever we need json file of our columns
#json-javascript object notation
import json
columns={
    'data_columns':[col.lower() for col in x.columns]
}#It is a dictionary
with open("columns.json","w") as f:
    f.write(json.dumps(columns))

KeyError: 'price_per_sqft'